<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  function test(){
    const msg = document.getElementById("m").value;
    socket.emit('messageSocket', msg);
    return false;
  };

  (function(){
    return socket.on('responseSocket', function(msg){
      const ul = document.getElementById("messages")
      const li = document.createElement("li")
      const text = document.createTextNode(msg);
      li.appendChild(text);
      ul.appendChild(li);
  });
})();
 
</script>
  </head>
  <body>
    
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul id="messages"></ul>
    <form action="" onsubmit="return false;">
        <input id="m" type="text" autocomplete="off" />
        <button onclick="test();" >Send</button>
      </form>
  </body>
</html>
